/* Styles for Card component */
.card-header {
  margin-bottom: 10px;
}

.card-name {
  color: var(--black-color);
  margin: 5px;
}

.card-footer {
  color: var(--black-color);
}

.card-body {
  margin-bottom: 10px;
}

.card-description-container{
  margin-top: 20px !important;
  margin-bottom: 40px !important;
  color: var(--black-color);
}

.card-description {
  border: white 1px solid;
  padding: 10px;
}

.card-labels-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between tags and the add button */
}

.card-labels {
  display: flex;
  gap: 5px;
}

.card-label {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
}

.card-members {
  margin-top: 10px;
}

.card-member {
  display: inline-block;
  color: white;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  margin-right: 5px;
}

/* Styles for the add-tag-circle */
.add-tag-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
}