/* Styles for List component */
.list {
  background-color: #a6a7ad;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 10px;
  min-width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align cards at the top */
  height: calc(100vh - 250px);
}

.list-title {
  font-size: 1.2rem;
  color: #333;
  margin: 10px;
  color: var(--primary-color);
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.delete-icon {
  float: right;
  cursor: pointer;
}