/* =========================
   CARD COMPONENT
========================= */

.card-header {
  margin-bottom: 10px;
  position: relative;
}

.card-name {
  color: var(--black-color);
  margin: 5px;
}

.card-body {
  margin-bottom: 10px;
}

.card-footer {
  color: var(--black-color);
}

/* =========================
   DESCRIPTION
========================= */

.card-description-container {
  margin-top: 20px;
  margin-bottom: 40px;
  color: var(--black-color);
}

.card-description {
  border: white 1px solid;
  padding: 10px;
}

/* =========================
   LABELS
========================= */

.card-labels-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-labels {
  display: flex;
  gap: 5px;
}

.card-label {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
}

/* =========================
   MEMBERS
========================= */

.card-members {
  margin-top: 10px;
}

.card-member {
  display: inline-block;
  padding: 5px 8px;
  margin-right: 5px;

  color: white;
  font-size: 0.8rem;

  border-radius: 4px;
}

/* =========================
   ACTIONS
========================= */

.add-tag-circle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  font-size: 1.2rem;
  font-weight: bold;

  color: white;
  background-color: var(--primary-color);

  border-radius: 50%;
  cursor: pointer;
}

.card-edit-btn, .card-delete-btn, .card-cancel-btn, .card-save-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.card-edit-or-delete-btns, .card-cancel-or-save-btns {
  position: absolute;
  display: flex;
  margin-top: -10px;
  top: 6px;
  right: 6px;
}

.card-delete-btn svg.lucide {
  color: var(--primary-color);
}

.card-edit-btn svg.lucide, .card-cancel-btn svg.lucide {
  color: var(--orange-button-color);
}

.card-save-btn svg.lucide {
  color: var(--green-button-color);
}

.editable-card-title,
.editable-card-description {
  display: flex;
  align-items: center;

  color: var(--orange-button-color);

  outline: none;
  border: none;
  background-color: transparent;
}

.editable-card-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.editable-card-description {
  font-size: 1rem;
  margin-bottom: 10px;
  border: white 1px solid;
  width: 100%;
}