 /* =========================
    PAGE
 ========================= */

.profile-page {
  padding: 20px;
  background-color: var(--light-gray-color);
  color: var(--black-color);

  font-family: 'Roboto', sans-serif;
  text-align: center;
}

/* =========================
   PROFILE CARD
========================= */

.profile-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;

  background-color: white;
  color: black;

  border: 1px solid var(--primary-color);
  border-radius: 12px;

  box-shadow: 0 4px 6px var(--primary-color);

  transition: transform 0.3s, box-shadow 0.3s;
}

.profile-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px var(--black-color);
}

/* =========================
   AVATAR
========================= */

.profile-avatar {
  width: 100px;
  height: 100px;

  margin-bottom: 15px;
  border-radius: 50%;
}

/* =========================
   BUTTON
========================= */

.edit-profile-button {
  padding: 10px 15px;

  font-size: 1rem;

  color: white;
  background-color: var(--primary-color);

  border: none;
  border-radius: 8px;

  cursor: pointer;

  transition: background-color 0.3s;
}

.edit-profile-button:hover {
  background-color: var(--primary-hover-color);
}

/* =========================
   MODAL
========================= */

.modal-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  width: 400px;
  max-width: 90%;

  padding: 20px;
  height: auto;

  box-sizing: border-box;
}

/* =========================
   MODAL ACTIONS
========================= */

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.modal-actions .confirm-button,
.modal-actions .cancel-button {
  padding: 0.5rem 1rem;

  font-size: 1rem;
  color: white;

  border: none;
  border-radius: 5px;

  cursor: pointer;
}

/* specific buttons */
.modal-actions .confirm-button {
  background-color: var(--red-button-color);
}

.modal-actions .cancel-button {
  background-color: gray;
}