.teams-page {
  padding: 20px;
  background-color: var(--light-gray-color);
  color: var(--black-color);
  font-family: 'Roboto', sans-serif;
}

.teams-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
}

.teams-page ul {
  list-style-type: none;
  padding: 0;
}

.teams-page li {
  margin-bottom: 15px;
  font-size: 1rem;
  color: var(--dark-gray-color);
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.board-card {
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  padding: 1.5rem;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  color: var(--primary-color);
}

.board-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.board-card h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.board-card p {
  font-size: 1rem;
  color: var(--dark-gray-color);
}

.teams-list {
  display: block;
  margin-top: 20px;
}

.team-section {
  margin-bottom: 30px;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--primary-color);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  color: var(--primary-color);
  background-color: white;
}

.team-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px var(--black-color);
}

.team-section h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.team-section ul {
  list-style: none;
  padding: 0;
}

.members-list {
  list-style: none;
  padding: 0;
}

.member-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.member-item .role {
  font-style: italic;
}

.edit-role-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-role-button:disabled {
  background-color: var(--gray-color);
  cursor: not-allowed;
}

.add-member-button {
  color: black;
  background-color: orange;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.add-member-button:hover {
  background-color: var(--secondary-hover-color);
}