.teams-page {
  padding: 20px;
  background-color: var(--light-gray-color);
  color: var(--black-color);
  font-family: 'Roboto', sans-serif;
}

.teams-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
}

.teams-page ul {
  list-style-type: none;
  padding: 0;
}

.teams-page li {
  margin-bottom: 15px;
  font-size: 1rem;
  color: var(--dark-gray-color);
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.board-card {
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  padding: 1.5rem;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  color: var(--primary-color);
}

.board-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.board-card h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.board-card p {
  font-size: 1rem;
  color: var(--dark-gray-color);
}

.teams-list {
  display: block;
  margin-top: 20px;
}

.team-section {
  margin-bottom: 30px;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--primary-color);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  color: var(--primary-color);
  background-color: white;
}

.team-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px var(--black-color);
}

.team-section h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.team-section ul {
  list-style: none;
  padding: 0;
}

.members-list {
  list-style: none;
  padding: 0;
}

.member-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.member-item .role {
  font-style: italic;
}

.edit-role-button {
  color: white;
  background-color: var(--orange-button-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.add-member-button {
  margin-top: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.members-table th, .members-table td {
  padding: 12px;
  text-align: left;
}

.members-table th {
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
}

.role {
  text-align: center !important;
}

.members-table td.actions-column {
  text-align: right;
  white-space: nowrap;
  padding-right: 20px; /* Added extra padding to push buttons further to the right */
}

.members-table th.actions-column {
  display: none;
}

.members-table tr {
  background-color: white;
}

.members-table tr:last-child {
  border-bottom: none;
}

.delete-user-button {
  background-color: var(--red-button-color);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
}

.confirm-button {
  background-color: var(--green-button-color);
  color: white;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-button {
  background-color: var(--orange-button-color);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-edit-button {
  background-color: var(--orange-button-color);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
}

.save-role-button {
  background-color: var(--green-button-color);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
}