html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ajout d'un style pour le footer afin de s'assurer qu'il n'y a pas de rebord blanc */
footer {
  margin: 0;
  padding: 0;
}

/* Classe pour appliquer une couleur violette à tous les icônes Lucide-React */
.lucide-icon {
  color: #6a0dad;
}

/* Appliquer la classe globalement */
svg.lucide {
  color: var(--color-primary, #6a0dad);
}

.da-color {
  background-color: #6a0dad;
}