html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6a0dad; /* Déclare une variable pour une couleur */
}

/* Ajout d'un style pour le footer afin de s'assurer qu'il n'y a pas de rebord blanc */
footer {
  margin: 0;
  padding: 0;
}

/* Classe pour appliquer une couleur violette à tous les icônes Lucide-React */
.lucide-icon {
  color: var(--primary-color);
}

/* Appliquer la classe globalement */
svg.lucide {
  color: var(--primary-color);
}

.da-color {
  background-color: var(--primary-color);
}