html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white-color);
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  --red-button-color: #ff0000;
  --green-button-color: #00ff00;
  --orange-button-color: #ffa500;
  --blue-button-color: #007bff;
  --error-message-color: red;
}

/* Style de la scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Largeur de la scrollbar */
  background-color: var(--white-color); /* Couleur de fond de la scrollbar */
}

/* Style de la partie déplaçable */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Couleur de la partie déplaçable */
  border-radius: 6px; /* Arrondi */
}

/* Optionnel : Style de la piste */
::-webkit-scrollbar-track {
  background-color: var(--white-color); /* Couleur de la piste */
}

.light {
  /* Couleur pour le thème clair */
  --primary-color: #6a0dad;
  --black-color: #000000;
  --white-color: #ffffff;
}

.dark {
   /* Couleur pour le thème sombre */
  --primary-color: #6a0dad;
  --black-color: #ffffff;
  --white-color: #000000;
}

/* Ajout d'un style pour le footer afin de s'assurer qu'il n'y a pas de rebord blanc */
footer {
  margin: 0;
  padding: 0;
}

/* Classe pour appliquer une couleur violette à tous les icônes Lucide-React */
.lucide-icon {
  color: var(--primary-color);
}

/* Appliquer la classe globalement */
svg.lucide {
  color: var(--primary-color);
}